{% extends "index.html" %}

{% block sectionContent %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<!-- title -->

  <header class=" text-center py-2 mb-1 text-white">

          <h1 class="display-3">About BackToSkill</h1>
          <div class="p-5 "> </div>
          <h2><p class="text-light">For too long has the HR been forced to carry this whole load on their shoulders..</h2>
          <div class="p-3 "> </div>
          <h4>
              <p class="text-light">

                  <div class="p-3 "> </div>
                  - How can I keep track of the employees' skills, trainings and profile?..
                  <div class="p-3 "> </div>
                  - What are the right people for that project or job?..
                  <div class="p-3 "> </div>
                  - What are their hard and soft skills?..
                  <div class="p-3 "> </div>

              </p>
              <p class="text-light">BackToSkill aims at answering all these questions by providing the HR department with a simple and dynamic website which combines the information you provide to generate the right allocation of employees to projects, courses and jobs in the firm. At BackToSkill we understand the burden on the HR managers, which is why our mission is to provide the greatest assistance possible to the HR through a user-friendly and innovative website.
                  <div class="p-3 "> </div>
                  To find out how it works visit our Guide page!
              </p>
          </h4>

    </header>
  <>




{% endblock %}
