{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ciao</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->


</head>

<body>
    {% block pageContent %}
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;

        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            cursor: inherit;
            display: block;
        }
    </style>
    <div class="container">
        {% if current_user.is_authenticated and current_user.admin %}
        <!--row1-Head of the page Employee Name and Surname-->
        <div class="row mt-3">
            <div class="col-sm-10">
                <h1>{{ employee.name }} {{ employee.surname }}</h1>
            </div>
        </div>
        <!--row2-Employee contenents-->
        <form method=post enctype=multipart/form-data id="form">
            <div class="row mt-5">
                <div class="col-sm-3">
                    <!--left col, Upload image-->
                    <!--Upload image-->
                    <div class="text-center">
                        {% if employee.photo != "default"%}
                        <img src="/static/images/profile/{{ employee.photo }}" class="avatar img-circle img-thumbnail"
                            alt="avatar" id="avatarImg">
                        {% else %}
                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                            class="avatar img-circle img-thumbnail" alt="avatar" id="avatarImg">
                        {% endif%}
                        <div class="mt-2">
                            <span class="btn btn-light btn-block btn-file">
                                Edit Image
                                <input type="file" name="file" id="imgfile">
                            </span>
                        </div>
                    </div>

                </div>
                <!--left col, Upload image and below contenents-->

                <div class="col-sm-9">
                    <!--Tabs & edit button-->
                    <!--Tabs bar-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-selected="true">Personal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-selected="false">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="skill-tab" data-toggle="tab" href="#skill" role="tab"
                                aria-selected="false">Skills</a>
                        </li>
                    </ul>
                    <!-- Tabs Contents and Edit button-->
                    <div class="tab-content" id="myTabContent">
                        <!-- Tab 1 Personal-->
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row mt-3">
                                <div class="col-6">
                                    {{ form.name.label }}
                                    {{ form.name(class='form-control') }}
                                </div>
                                <div class="col-6">
                                    {{ form.surname.label }}
                                    {{ form.surname(class='form-control') }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6 mt-1">
                                    {{ form.birthday.label }}
                                    {{ form.birthday(class='form-control',type="date") }}
                                </div>
                                <div class="col-6 mt-1">
                                    {{ form.living_place.label }}
                                    {{ form.living_place(class='form-control') }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6 mt-1">
                                    {{ form.phone.label }}
                                    {{ form.phone(class='form-control') }}
                                </div>
                                <div class="col-6 mt-1">
                                    {{ form.email.label }}
                                    {{ form.email(class='form-control') }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6 mt-1">
                                    {{ form.driving_licence.label }}
                                    {{ form.driving_licence(class='form-control') }}
                                </div>
                                <div class="col-6 mt-1">
                                    {{ form.date_of_assumption.label }}
                                    {{ form.date_of_assumption(class='form-control', type="date") }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6 mt-1">
                                    {{ form.state_in_company.label }}
                                    {{ form.state_in_company(class='form-control') }}
                                </div>
                                <div class="col-6 mt-1">
                                    {{ form.role.label }}
                                    {{ form.role(class='form-control') }}
                                </div>
                            </div>

                        </div>
                        <!-- Tab 2 Education-->
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row mt-3">
                                <div class="col-6 mt-1">
                                    {{ form.education_level.label }}
                                    {{ form.education_level(class='form-control') }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6 mt-1">
                                    {{ form.language_certificate.label }}
                                    {{ form.language_certificate(class='form-control') }}
                                </div>
                            </div>
                        </div>
                        <!-- Tab 3 Skills-->
                        <div class="tab-pane fade" id="skill" role="tabpanel" aria-labelledby="skills-tab">
                            <!--row-->
                            <div class="row justify-content-center">
                                <!--col 6-->
                                <div class="col-6">
                                    <div class="row mt-5">
                                        <!--Title and Button add-->
                                        <!--Title-->
                                        <div class="col align-self-start">
                                            <h1> Skill Form</h1>
                                        </div>
                                        <!--Button add-->
                                        <div class="col align-self-end text-right">
                                            <input type="button" value="Add" class="btn btn-primary"
                                                onclick="createRow()">
                                        </div>
                                    </div>
                                    <!--Title and Button add-->
                                    <!--Skills and buttons-->
                                    <!--Skills-->
                                    <div class="row">
                                        <!--Skills-->
                                        <div id="container" class="col-6">
                                            <input hidden type="text" id="number" name="number" value="{{dic|length}}">
                                            <div hidden class="form-group" id="div_example"></div>
                                            <label hidden id="label_example">Skill</label>
                                            {% for employee_skill in dic %}
                                            <select class="custom-select mt-3"
                                                name="skill{{dic.index(employee_skill)}}">
                                                {% for skill in skills %}
                                                <option {% if  employee_skill[1] == skill.name %}selected{% endif %}
                                                    value="{{skill.id}}">{{ skill.name }}</option>
                                                {% endfor %}
                                            </select>
                                            {% endfor %}
                                        </div>
                                        <!--Score-->
                                        <div id="container1" class="col-3">
                                            {% for employee_skill in dic %}
                                            <select class="custom-select mt-3"
                                                name="score{{dic.index(employee_skill)}}">
                                                {% for i in range(1,11) %}
                                                <option {% if  employee_skill[2] == i %}selected{% endif %}
                                                    value="{{i}}">{{ i }}</option>
                                                {% endfor %}
                                            </select>
                                            {% endfor %}
                                        </div>
                                        <!--Delete-->
                                        <div id="container2" class="col-3">
                                            {% for employee_skill in dic %}
                                            <div>
                                                <a class="btn btn-danger mt-3" style="color:white"
                                                    name="remove{{dic.index(employee_skill)}}"
                                                    onclick="removeRow({{dic.index(employee_skill)}})">Remove</a>
                                            </div>

                                            {% endfor %}
                                        </div>
                                        <!--Select Skills Format-->
                                        <select hidden class="custom-select mt-3" id="select_example">
                                            {% for skill in skills %}
                                            <option value="{{ skill.id }}">{{ skill.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <!--New Score Format-->
                                        <select hidden class="custom-select mt-3" id="select_example1" mt-3>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                </div>
                                <!--col 6-->
                            </div>
                            <!--row-->
                        </div>
                        <!--Edit Employee Button--->
                        <div class="row mt-5 justify-content-center ">
                            {{ form.submit(class="btn btn-primary",style="width: 200px" ) }}{{ form.hidden_tag() }}
                        </div>
                    </div>
                    <!--Tabs & edit button-->
                </div>
            </div>
        </form>
        <!--row2-Employee contenents-->
        {% else %}
            <h2>You must be an admin to edit a user's information</h2>
        {% endif %}
    </div>
    <!--Container-->
    <!-- Timeout for alert-->
    <script>
        setTimeout(function () {
            $(".alert").alert('close');
        }, 5000)
    </script>
    <!--Script for Javascript Skills -->
    <script type='text/javascript'>
        function removeRow(index) {

            let skill = "skill" + index
            let score = "score" + index
            let remove = "remove" + index

            $("[name='" + skill + "']").remove();
            $("[name='" + score + "']").remove();
            $("[name='" + remove + "']").remove();


            console.log("removed " + skill)
        }

        function createRow() {
            let rowNumber = getRowNumber();

            addSkill(rowNumber);
            addScore(rowNumber);
            addRemove(rowNumber)

            updateRowNumber();
        }

        function getRowNumber() {
            // Number of inputs to create
            return number = parseInt(document.getElementById("number").value);
        }

        function updateRowNumber() {
            // Number of inputs to update
            document.getElementById("number").value = number + 1;
        }

        function addRemove(number) {

            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container2");

            let div = document.createElement("div");
            let buttorRemove = document.createElement("a");

            buttorRemove.setAttribute("class", "btn btn-danger mt-3");
            buttorRemove.setAttribute("name", "remove" + number);
            buttorRemove.setAttribute("onclick", "removeRow(" + number + ")");
            buttorRemove.setAttribute("style", "color:'white'");
            buttorRemove.style = "color:white"
            buttorRemove.innerHTML = "Remove"


            div.appendChild(buttorRemove);
            container.appendChild(div);
        }


        function addSkill(number) {

            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");

            //Get select hidden
            var select_example = document.getElementById("select_example");

            // Clone select
            let cloneSelect = select_example.cloneNode(true);
            cloneSelect.hidden = false;
            cloneSelect.setAttribute('name', "skill" + number);
            container.appendChild(cloneSelect);
        }

        function addScore(number) {
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container1");

            //Select
            var select_example = document.getElementById("select_example1");

            // Clone
            let cloneS = select_example.cloneNode(true);
            cloneS.hidden = false;
            cloneS.setAttribute('name', "score" + number);
            container.appendChild(cloneS);
        }
    </script>
    <!-- Upload Image-->
    <script>
        function loadFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#avatarImg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#imgfile").change(function () {
            loadFile(this);
        });
    </script>
    {% endblock %}
</body>

</html>