{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
{% block pageContent %}
{#    <div class="container">#}
{#        {% for emp in employees %}#}
{#            <div class="row">#}
{#                <div class="col-sm">#}
{#                  One of three columns#}
{#                </div>#}
{#                <div class="col-sm">#}
{#                  One of three columns#}
{#                </div>#}
{#                <div class="col-sm">#}
{#                  One of three columns#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{% endblock %}
</body>
</html>