<!--manca extend layout-->
{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Page</title>

</head>
<body>
    {% block pageContent %}
        <div class="col-md-10">
            {% block sectionContent %}
                <h3>Job: {{ role.name }}</h3>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ role.description }} </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-hover">
                        <thead>
                         <tr>
                             <th>Skills required</th> <th>Grade required</th>
                         </tr>
                        </thead>
                        <tbody>

                        {% for skill in skill %}
                             <tr>
                               <td>{{ skill.name }}</td>
                               <td>
                                {% for grade in grade %}
                                 {% if grade.skill_id == skill.id%}
                                       {{ grade.grade_required }}
                                   {% endif %}
                                {% endfor %}
                               </td>
                             </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!--- aggiungere link alla pagina di giulia che crea un employee-->
                <button type="button" class="btn btn-primary btn-icon">
                Add Employee
                </button>

            {% endblock %}
        </div>
    {% endblock %}

</body>
</html>