{% extends "index.html" %}

{% block sectionContent %}
    <!-- title -->

  <header class=" text-center py-2 mb-1 text-light">

          <h1 class="display-3">Website Guide</h1>
          <div class="p-5 "> </div>
          <h2>Follow this brief guide to learn everything about this website!</h2>
          <div class="p-3 "> </div>
          <h4>
              For more information feel free to contact us directly!

          </h4>

    </header>


    <div class="timeline">
  <div class="container">
    <div class="content">
      <h2>EMPLOYEES PAGE</h2>
      <p>Use this section of the website to manage all the information about your workforce. You can add new employees to the database, see the projects and trainings they are involved in, assess the current level of their personal skills and much more.</p>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <h2>SKILLS PAGE</h2>
      <p>Do you want to have a clear idea about the actual set of skills that your company can rely on? This is the section you're looking for! In the "Skills" page you can manage the skills background of your company, inserting new capabilities in your database, enriching and expanding your employees' potential.</p>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <h2>JOBS OPENINGS PAGE</h2>
      <p>This is the situation: you need a new IT manager in your company, someone you can trust, someone you know being charismatic and extremely competent in his sector. Imagine being able to choose the requirements for that positions, and to have someone suggesting you the perfect person for that job. Easy right? Well now stop imagining it. And do it.</p>
    </div>
  </div>
  <div class="container">
    <div class="content">
      <h2>PROJECTS PAGE</h2>
      <p>Launching a new project has never been an easy job. You have to define the time window, the targets and the resources. You have to decide which roles you will need to carry on the task, which components will be best for the team and who is going to lead them to victory. Actually, forget about this part. We'll be happy to do that for you!</p>
    </div>
  </div>
    <div class="container">
    <div class="content">
      <h2>TRAININGS PAGE</h2>
      <blockquote class="blockquote">
      <p class="mb-0">“Tell me and I forget, teach me and I may remember, involve me and I learn.”</p>
      <footer class="blockquote-footer">Benjamin Franklin</footer>
    </blockquote>
        <p>Train your employees, give them the right instruments to grow their capabilities. People are your best resource!</p>
    </div>
  </div>
</div>

    <style>
        * {
    box-sizing: border-box;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

</style>

<div class="p-5 "> </div>



{% endblock %}
