{% extends "index.html" %}

{% block sectionContent %}
    <!-- title -->

  <header class=" text-center py-2 mb-1 text-white">

          <h1 class="display-3">Website Guide</h1>
          <div class="p-5 "> </div>
          <h2><p class="text-light">Follow this brief guide to learn about all the functions of the website!</h2>
          <div class="p-3 "> </div>
          <h4>
              <p class="text-light">

                  EMPLOYEES PAGE - Our employees page allows you to input all the information from each worker of your firm, which will be registered in the database. The ID will allow you to create a connection between each employee and the information from the other pages!
                  <div class="p-3 "> </div>

                  SKILLS PAGE - This page allows you to input both the hard and soft skills for each employee (use the ID to identify them).
                  <div class="p-3 "> </div>

                  TRAININGS PAGE - This page will contain the courses list and the upcoming courses, which can be allocated to the employees which need them due to a lack of a certain skill. An archive of the courses allows you to keep track of the courses been completed.
                  <div class="p-3 "> </div>

                  JOB OPENINGS PAGE - This page allows the input of the jobs available in the firm and the skills required for each of them. The system will then indicate you the right employees for the job based on the information you provided previously.
                  <div class="p-3 "> </div>

                  PROJECTS PAGE - Similarly to the Job Openings page, this page allows the input of the projects available in the firm and the skills required for each of them. The system will then indicate you the right employees for the job based on the information you provided previously. In addition it will show you the current projects and the archive.
                  <div class="p-3 "> </div>
                  For more information feel free to contact us directly!
              </p>
          </h4>

    </header>
  <>


{% endblock %}
