{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jobs</title>
</head>
<body>
 {% block pageContent %}
     <div class="row">
        <div class="col-md-2">
          <div class="content-section">
              <div class="list-group">
                     <!--modal creation-->
                                  <div class="container">
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="modal fade" id="myModal">
                                                  <div class="modal-dialog modal-lg" >
                                                      <div class="modal-content">
                                                          <div class="modal-header ">
                                                              <h1>Add Job</h1>
                                                          </div>
                                                     <form action="{{ url_for('jobs') }}" method="POST">
                                                          <div class="modal-body ">
                                                             <div class="form-group">
                                                                 <label for="Title">Role</label>
                                                                 <input type="text" class="form-control" id="title" name="role">
                                                             </div>
                                                             <div class="form-group">
                                                              <label for="Role">Description</label>
                                                               <input type="text" class="form-control" id="role"  name="Jdescription">
                                                             </div>
                                                              <div class="form-group">
                                                              <label for="Deadline">employee</label>
                                                               <input type="text" class="form-control" id="deadline" placeholder="xx-xx-xxxx" name="deadline">
                                                              </div>
                                                              <div class="form-group">
                                                              <label for="exampleFormControlSelect2">Softskill required</label>
                                                              <select multiple class="form-control" id="softskillselection" name="skselection" >
                                                                 {% for skill in softskill %}
                                                                  <option value="{{ skill.id }}">{{ skill.name}}</option>
                                                                 {% endfor %}
                                                              </select>
                                                              </div>
                                                              <div class="form-group">
                                                                  <label for="grade">Grade Required</label>
                                                                  <input type="int" class="form-control" id="grade" placeholder="grade" name="grade">
                                                              </div>
                                                              <div class="form-group">
                                                                  <label for="exampleFormControlSelect2">Hardskill required</label>
                                                                  <select multiple class="form-control" id="hkselection" name="hkselection" >
                                                                 {% for skill in hardskill %}
                                                                  <option value="{{ skill.id }}">{{ skill.name}}</option>
                                                                 {% endfor %}
                                                                     </select>
                                                              </div>
                                                              <div class="form-group">
                                                              <label for="grade">Grade Required</label>
                                                                <input type="int" class="form-control" id="grade" placeholder="grade" name="grade1">
                                                              </div>
                                                          </div>
                                                          <div class="modal-footer ">
                                                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                              <button class="btn btn-primary"  type="submit"> Submit </button>
                                                          </div>
                                                     </form>

                                                      </div>

                                                  </div>
                                              </div>
                                              <a href="#" data-toggle="modal" data-target="#myModal">ADD JOB</a>
                                          </div>
                                      </div>
                                  </div>
                        <!--end modal -->
              </div>
          </div>
        </div>

           <div class="col-md-10">
{#          Table for the jobs that will be taken out from the db#}
              {% block sectionContent %}
                  <h1>List of jobs </h1>
                  <div class="table-responsive" style="text-align:center">
                      <table style="width:100%"  class="table table-hover">
                          <thead>
                            <tr>
                              <th>Jobs open</th>
                            </tr>
                          </thead>
                              <tbody>
                                <tr>
                                    <td>
                                      <table style="width: 100% ">
                                        <thead>
                                         <tr>
                                             <th>#</th>
                                             <th>job</th>
                                             <th>description</th>
                                         </tr>
                                       </thead>
                                       <tbody>
                                         {% for role in open %}
                                            <tr>
                                              <th scope="row">{{ loop.index }}</th>
                                                <td><a href="/EmployeeJob/{{ role.id }}"> {{ role.name }} </a></td>
                                                <td>{{ role.description}}</td>
                                            </tr>
                                         {% endfor %}
                                       </tbody>
                                     </table>
                                    </td>
                                   </tr>
                              </tbody>
                                 </tbody>
                      </table>
                      <table style="width:100%" class="table table-hover">
                          <thead>
                            <tr>
                                <th>Jobs closed</th>
                            </tr>
                          </thead>
                          <tbody>
                             <tr>
                                <td>
                                  <table style="width:100%">
                                     <thead>
                                       <tr>
                                           <th>#</th>
                                           <th>job</th>
                                           <th>employee assignated</th>
                                         </tr>
                                       </thead>
                                       <tbody>
                                       {% for role in closed %}
                                            <tr>
                                              <th scope="row">{{ loop.index }}</th>
                                                <td><a href="/EmployeeJob/{{ role.id }}"> {{ role.name }} </a></td>
                                                <td>
                                                    {% for empl in employee %}
                                                        {% if empl.role==role.id %}
                                                            {{empl.name}}
                                                        {% endif %}
                                                    {% endfor %}

                                                </td>

                                            </tr>
                                         {% endfor %}
                                       </tbody>
                                       </table>
                                     </td>
                            </tr>
                          </tbody>
                      </table>
                  </div>
                  </div>
   {% endblock %}

{% endblock %}

 </div>
 </body>
</html>