{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ciao</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->


</head>

<body>
    {% block pageContent %}
    <style>
        .btn-file {
            position: relative;
            overflow: hidden;

        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            outline: none;
            cursor: inherit;
            display: block;
        }
    </style>
    <div class="container">
        <!--Alert-->
        {% if current_user.is_authenticated and current_user.admin %}
        {% for field, errors in form.errors.items() %}
        <div class="alert alert-warning alert-dismissible fade show mt-5" role="alert">
            <!-- alert-dismissible is the X in alert-->
            <strong>Warning!</strong> {{ form[field].label }} {{ ', '.join(errors) }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% if employee!=None %}
        <div class="alert alert-success alert-dismissible fade show mt-5" role="alert">
            <!-- alert-dismissible is the X in alert-->
            <strong>Save successful!</strong> New Employee added.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <!--row1-Head of the page Employee Name and Surname-->
        <div class="row mt-3">
            {% if employee == None %}
            <div class="col-sm-10">
                <h1>New Employee</h1>
            </div>
            {% elif employee!=None %}
            <div class="col-sm-10">
                <h1>{{ employee.name }} {{ employee.surname }}</h1>
            </div>
            {% endif %}
        </div>
        <!--row2-Employee contenents-->
        <form method=post enctype=multipart/form-data id="form">
            <div class="row mt-5">
                <div class="col-sm-3">
                    <!--left col, Upload image -->
                    <!--left col, Upload image -->
                    <!--Upload image-->
                    <div class="text-center">
                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"
                            class="avatar img-circle img-thumbnail" alt="avatar" id="avatarImg">
                        <div class="mt-2">
                            <span class="btn btn-light btn-block btn-file">Add Image <input type="file" name="file"
                                    id="imgfile"></span>
                        </div>
                    </div>
                </div>
                <!--left col, Upload image-->
                <!--Tab-->
                <div class="col-sm-9">
                    <!--Tabs bar-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Personal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                                aria-controls="contact" aria-selected="false">Skills</a>
                        </li>

                    </ul>
                    <!--Tabs bar-->
                    <!-- Tabs Contents -->

                    <div class="tab-content" id="myTabContent">
                        <!-- Tab 1 Personal-->
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="personal-tab">
                            <div class="row mt-3">
                                <div class="col-6">
                                    {{ form.name.label }}
                                    {{ form.name(class='form-control') }}
                                </div>
                                <div class="col-6">
                                    {{ form.surname.label }}
                                    {{ form.surname(class='form-control') }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6 mt-1">
                                    {{ form.birthday.label }}
                                    {{ form.birthday(class='form-control',type="date") }}
                                </div>
                                <div class="col-6 mt-1">
                                    {{ form.living_place.label }}
                                    {{ form.living_place(class='form-control') }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6 mt-1">
                                    {{ form.phone.label }}
                                    {{ form.phone(class='form-control') }}
                                </div>
                                <div class="col-6 mt-1">
                                    {{ form.email.label }}
                                    {{ form.email(class='form-control') }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    {{ form.driving_licence.label }}
                                    {{ form.driving_licence(class='form-control') }}
                                </div>
                                <div class="col-6">
                                    {{ form.date_of_assumption.label }}
                                    {{ form.date_of_assumption(class='form-control', type='date') }}
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    {{ form.state_in_company.label }}
                                    {{ form.state_in_company(class='form-control') }}

                                </div>
                                <div class="col-6">
                                    {{ form.role.label }}
                                    {{ form.role(class='form-control') }}
                                </div>
                            </div>
                            <!-- Employee Button--->
                            <div class="row mt-5">
                                <div class="col-6 offset-3 text-center">
                                    <input style="width: 200px" value="Next" class="btn btn-light"
                                        onclick="showEducation()">
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 Education-->
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="education-tab">

                            <div class="row mt-3">
                                <div class="col-6">
                                    {{ form.education_level.label }}
                                    {{ form.education_level(class='form-control') }}
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-6">
                                    {{ form.language_certificate.label }}
                                    {{ form.language_certificate(class='form-control') }}
                                </div>
                            </div>

                            <div class="row mt-5">
                                <div class="col-6  text-center">
                                    <input style="width: 200px" value="Previous" class="btn btn-light"
                                        onclick="showPersonal()">
                                </div>
                                <div class="col-6  text-center">
                                    <input style="width: 200px" value="Next" class="btn btn-light"
                                        onclick="showSkills()">
                                </div>
                            </div>
                        </div>
                        <!-- Tab 3 Skills-->
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="skills-tab">
                            <!--row-->
                            <!--COPIARE DA QUI-->
                            <div class="row justify-content-center">
                                <div class="col-6">
                                    <!--col 6-->
                                    <div class="row mt-5">
                                        <!--Title and Button add-->
                                        <!--Title-->
                                        <div class="col align-self-start">
                                            <h1> Skill Form</h1>
                                        </div>
                                        <!--Button add-->
                                        <div class="col align-self-end text-right">
                                            <input type="button" value="Add" class="btn btn-primary"
                                                onclick="createRow()">
                                        </div>
                                    </div>
                                    <!--Title and Button add-->
                                    <!--Skills and buttons-->
                                    <!--Skills-->
                                    <div class="row">
                                        <!--Skills-->
                                        <div id="container" class="col-6 mt-3">
                                            <input hidden type="text" id="number" name="number" value="0">
                                            <div hidden class="form-group" id="div_example"></div>
                                            <label hidden id="label_example">Skill</label>
                                            <select hidden class="custom-select mt-3" id="select_example">
                                                {% for skill in skills %}
                                                <option value="{{ skill.id }}">{{ skill.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <!--Score-->
                                        <div id="container1" class="col-3 mt-3">
                                            <input hidden type="text" id="number1" value="0">
                                            <div hidden class="form-group" id="div_example1"></div>
                                            <label hidden id="label_example1">Score</label>
                                            <select hidden class="custom-select mt-3" id="select_example1">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                        <!--Delete-->
                                        <div id="container2" class="col-3 mt-3">
                                            <!--Sostituire ad employee_skill project_skills o jobskills che vi passate dalla vostra funzione sull app.py-->
                                            {% for employee_skill in dic %}
                                            <div>
                                                <a class="btn btn-danger mt-3" style="color:white"
                                                    name="remove{{dic.index(employee_skill)}}"
                                                    onclick="removeRow({{dic.index(employee_skill)}})">Remove</a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% if employee!=None %}
                                    <div class="row">
                                        <div id="container" class="col-6">
                                            <input hidden type="text" id="number" name="number" value="0">
                                            <div hidden class="form-group" id="div_example"></div>
                                            <label hidden id="label_example">Skill</label>
                                            <select hidden class="custom-select" id="select_example">
                                                {% for skill in skills %}
                                                <option value="{{ skill.id }}">{{ skill.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div id="container1" class="col-6">
                                            <input hidden type="text" id="number1" value="0">
                                            <div hidden class="form-group" id="div_example1"></div>
                                            <label hidden id="label_example1">Score</label>
                                            <select hidden class="custom-select" id="select_example1">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <!--col 6-->
                            </div>
                            <!--row-->
                            <!-- Employee Button--->
                            <div class="row mt-5 ">
                                <div class="col-6 text-right">
                                    <input style="width: 200px" value="Previous" class="btn btn-light"
                                        onclick="showEducation()">
                                </div>
                                <div class="col-6">
                                    {{ form.submit(class="btn btn-primary",style="width: 200px" ) }}{{ form.hidden_tag() }}
                                </div>
                            </div>
                            <div class="row mt-5 justify-content-center">
                                {% if employee!=None %}
                                <div>
                                    <a style="width: 200px" class=" text-white btn btn-danger">
                                        Delete
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                            <!--A QUI-->

                        </div>
                    </div>
                </div>
                <!--Tab-->
            </div>
            <!--row2-Employee contenents-->
        </form>
        {% else %}
            <h2>You don't have the necessary permisssions to add a new employee</h2>
        {% endif %}
    </div>
    <!--Container-->
    <!-- Timeout for alert-->
    <script>
        setTimeout(function () {
            $(".alert").alert('close');
        }, 5000)
    </script>
    <!-- Script for show button next previous-->
    <script>
        function showEducation() {

            var form = document.getElementById('form')
            form.reportValidity();
            if (form.checkValidity()) $('#myTab a[href="#profile"]').tab('show');
        }

        function showPersonal() {
            $('#myTab a[href="#home"]').tab('show');
        }

        function showSkills() {
            $('#myTab a[href="#contact"]').tab('show');
        }
    </script>
    <!--Script for Javascript Skills -->
    <script type='text/javascript'>
        function removeRow(index) {

            let skill = "skill" + index
            let score = "score" + index
            let remove = "remove" + index

            $("[name='" + skill + "']").remove();
            $("[name='" + score + "']").remove();
            $("[name='" + remove + "']").remove();


            console.log("removed " + skill)
        }

        function createRow() {
            let rowNumber = getRowNumber();

            addSkill(rowNumber);
            addScore(rowNumber);
            addRemove(rowNumber)

            updateRowNumber();
        }

        function getRowNumber() {
            // Number of inputs to create
            return number = parseInt(document.getElementById("number").value);
        }

        function updateRowNumber() {
            // Number of inputs to update
            document.getElementById("number").value = number + 1;
        }

        function addRemove(number) {

            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container2");

            let div = document.createElement("div");
            let buttorRemove = document.createElement("a");

            buttorRemove.setAttribute("class", "btn btn-danger mt-3");
            buttorRemove.setAttribute("name", "remove" + number);
            buttorRemove.setAttribute("onclick", "removeRow(" + number + ")");
            buttorRemove.setAttribute("style", "color:'white'");
            buttorRemove.style = "color:white"
            buttorRemove.innerHTML = "Remove"


            div.appendChild(buttorRemove);
            container.appendChild(div);
        }


        function addSkill(number) {

            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container");

            //Get select hidden
            var select_example = document.getElementById("select_example");

            // Clone select
            let cloneSelect = select_example.cloneNode(true);
            cloneSelect.hidden = false;
            cloneSelect.setAttribute('name', "skill" + number);
            container.appendChild(cloneSelect);
        }

        function addScore(number) {
            // Container <div> where dynamic content will be placed
            var container = document.getElementById("container1");

            //Select
            var select_example = document.getElementById("select_example1");

            // Clone
            let cloneS = select_example.cloneNode(true);
            cloneS.hidden = false;
            cloneS.setAttribute('name', "score" + number);
            container.appendChild(cloneS);
        }
    </script>

    <!-- Upload Image-->
    <script>
        function loadFile(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#avatarImg').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }

        $("#imgfile").change(function () {
            loadFile(this);
        });
    </script>

    {% endblock %}
</body>

</html>