{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects</title>
</head>
<body>
{% block pageContent %}
    <div class="row">
        <div class="col-md-2">
            <div class="content-section">
                <div class="list-group">
                    <a href="/projects/all" class="list-group-item list-group-item-action">All projects</a>
                    <a href="/projects/current" class="list-group-item list-group-item-action">Current projects</a>
                    <a href="/projects/past" class="list-group-item list-group-item-action">Completed projects</a>
                    <a href="/roles" class="list-group-item list-group-item-secondary list-group-item-action">Roles for projects</a>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            {#Table for the projects that will be taken out from the db#}
            {% block sectionContent %}
                <!-- Button trigger modal for new project -->
                <h3 class="section-title">{{ period }} projects</h3>
                <br/>
                {% if current_user.is_authenticated and current_user.admin %}
                    <button type="button" class="btn btn-outline-info float-right" data-toggle="modal" data-target="#newProjectModal">
                        New project
                    </button>
                    <br/>

                    <!-- Modal -->
                    <div class="modal fade bd-example-modal-lg" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="newProjectModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="newProjectModalLabel">Define a new project</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form action="{{ url_for('projects') }}" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="inputName">Project name</label>
                                            <input type="text" class="form-control" id="inputName" name="prjName" placeholder="Name of the project" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputDescription">Description</label>
                                            <input type="text" class="form-control" id="inputDescription" name="prjDescription" placeholder="Description of the project">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputBeginningDate">Beginning on:</label>
                                            <input type="date" class="form-control" id="inputBeginningDate" name="prjStartingDate" placeholder="dd/mm/yyyy" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEndingDate">Deadline:</label>
                                            <input type="date" class="form-control" id="inputEndingDate" name="prjEndingDate" placeholder="dd/mm/yyyy">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSupervisor">Select the supervisor for the project</label>
                                            <select class="form-control" id="inputSupervisor" name="prjSupervisor">
                                                <option value="" selected>No supervisor</option>
                                                {% for emp in employees %}
                                                    <option value="{{ emp.id }}">{{ emp.name }} {{ emp.surname }}</option>
                                                {% endfor %}
                                            </select>
                                            <small id="selectHelp" class="form-text text-muted">To select multiple roles hold CTRL while clicking on them.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSelectRole">Select the roles required for the project</label>
                                            <select multiple class="form-control" id="inputSelectRole" name="prjRoles" aria-describedby="selectHelp">
                                                {% for role in roles %}
                                                    <option value="{{ role.id }}">{{ role.name }}</option>
                                                {% endfor %}
                                            </select>
                                            <small id="selectHelp" class="form-text text-muted">To select multiple roles hold CTRL while clicking on them.</small>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {#                  LIST OF PROJECTS    #}

                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped text-center">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Project</th>
                            <th scope="col">Beginning</th>
                            <th scope="col">Ending</th>
                            <th scope="col">Description</th>
                            <th scope="col">Supervisor</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in projects %}
                            <tr>
                                <th scope="row">{{loop.index}}</th>
                                <td><a href="/project/{{ project.id }}"> {{ project.name }} </a></td>
                                <td>{{ project.starting_date }}</td>
                                <td>{{ project.ending_date }}</td>
                                <td>{{ project.description }}</td>
                                <td>
                                    {% for sup in supervisors %}
                                        {% if sup.id == project.supervisor %}
                                            <a href="/employee/{{ sup.id }}">{{ sup.name }} {{ sup.surname }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}
</body>
</html>