{% extends "layout.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skills</title>
</head>
<body>
    {% block pageContent %}
        <div class="row">
        <div class="col-md-2">
          <div class="content-section">
              <div class="list-group">
                  <a href="/skills/soft" class="list-group-item list-group-item-action">Soft skills list</a>
                  <a href="/skills/technical" class="list-group-item list-group-item-action">Technical skills list</a>
              </div>
          </div>
        </div>
          <div class="col-md-10">
{#          Table for the skills that will be taken out from the db#}
              {% block sectionContent %}
                  <h4>List of {{ skill_type }} skills</h4>
                  <div class="table-responsive">
                      <table class="table table-bordered table-striped text-center">
                          <thead>
                          <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Name</th>
                              <th scope="col">Description</th>
                              <th scope="col">Actions</th>
                            </tr>
                          </thead>
                          <tbody>
{#                              {% set count=0 %}#}
                              {% for skill in skills %}
                                  <tr>
                                      <th class="align-middle" scope="row">{{ loop.index }}</th>
                                      <td class="align-middle">{{skill.name}}</td>
                                      <td class="align-middle">{{ skill.description }}</td>
                                      <td>
                                          <div class="btn-group" role="group" aria-label="Basic example">
                                              <button type="button" class="btn d-flex justify-content-center align-content-between"
                                                      data-toggle="modal" data-target="#editSkill" ><i class="material-icons" style="color: goldenrod">&#xE254;</i></button>
                                              <form action="{{ url_for('skills', s=skill) }}" method="POST"><button type="submit" class="btn d-flex justify-content-center align-content-between"
                                                      data-toggle="modal" data-target="#deleteSkill">
                                                  <i class="material-icons" style="color: #b22222">&#xE872;</i></button></form>
                                          </div>
                                      </td>
                                  </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>

                  <button type="button" class="btn btn-primary rounded-circle position-fixed" style="bottom:15px;right:15px;margin:5px;" data-toggle="modal" data-target="#newProjectModal">
                      +
                  </button>

                  <!-- Modal add new skill-->
                  <div class="modal fade bd-example-modal-lg" id="newProjectModal" tabindex="-1" role="dialog" aria-labelledby="newProjectModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header ">
                                <h5>Add Skill</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <form action="{{ url_for('skills') }}" method="POST">
                                <div class="modal-body ">
                                    <label for="Name">Name</label>
                                    <input type="text" class="form-control" id="Name" name="skill_name" placeholder="Name of the skill" required>
                                    <label for="skill">Skill type</label>
                                    <div></div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="hardSkill" name="skill_type" value="Hard" required>
                                        <label class="custom-control-label" for="hardSkill">Technical</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="softSkill" name="skill_type" value="Soft" required>
                                        <label class="custom-control-label" for="softSkill"> Soft </label>
                                    </div>
                                    <div></div>
                                    <label for="Description">Description</label>
                                    <textarea class="form-control" id="Description" rows="5" name="desc" placeholder="Description of the skill" required></textarea>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>
                  <!-- Modal edit skill-->
                  <div class="modal fade bd-example-modal-lg" id="editSkill" tabindex="-1" role="dialog" aria-labelledby="editSkillLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header ">
                                <h5>Edit skill</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>
                            <form action="{{ url_for('skills') }}">
                                <div class="modal-body ">
                                    <label for="Name">Name of the skill</label>
                                    <input type="text" class="form-control" id="Name" name="skill_name" placeholder="Name of the skill" required>
                                    <label for="skill">Skill type</label>
                                    <div></div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="hardSkill" name="skill_type" value="Hard" required>
                                        <label class="custom-control-label" for="hardSkill">Technical</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" id="softSkill" name="skill_type" value="Soft" required>
                                        <label class="custom-control-label" for="softSkill"> Soft </label>
                                    </div>
                                    <div></div>
                                    <label for="Description">Description</label>
                                    <textarea class="form-control" id="Description" rows="5" name="desc" placeholder="Description of the skill" required></textarea>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>
                  <!-- Modal delete skill-->
                  <!--<div class="modal fade bd-example-modal-lg" id="deleteSkill" tabindex="-1" role="dialog" aria-labelledby="deleteSkillLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" style="display: table" role="document">
                        <div class="modal-content">
                            <form action="{{ url_for('skills') }}">
                                <div class="modal-body">
                                    <label for="Delete">You are removing this skill. Continue?</label>
                                </div>
                                <div class="modal-footer border-top-0">
                                    <button type="submit" class="btn btn-primary">Yes, delete it.</button>
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                  </div>-->
              {% endblock %}
          </div>
        </div>
    {% endblock %}

</body>
</html>